<!-- <div id="main" >
    <div id="content">

        <div>
          <h1 style="display: flex; align-items: center;">  get your car </h1>
        </div>
        <div id="car1">
            <img style="height: 170px; width: auto;"  src="assets\images\silverSwift.png" alt="">

        </div>
        


        <div id="car2">
            <img style="height: 160px; width: auto;" src="assets\images\redSwift.png" alt="">
        </div>

    </div>

</div> -->

<div id="fulladd" >

    <div >
        <div id="left">
            <img id="cars"  style="height: 170px; width: auto; float: right;"  src="assets\images\silverSwift.png" alt="">
        
            
         </div>
         <div id="right">
        
            <img id="cars" style="height: 160px; width: auto; float: left;" src="assets\images\redSwift.png" alt="">
                
           </div>
</div>

 <div id="center">

        <h1 id="addText">Get Your First Car </h1>

        <h1 id="addTex">With SwiftLand</h1>

        <ul id="offers">
            <!-- <li><i class='fas fa-file-alt' style='font-size:24px'></i> <h2> Minimum  Intrest-Rate</h2></li>
            <li> <h2>Minimum Down-Payment</h2></li>
            <li> <h2>less Documentation</h2></li> --> 

            <img style="height: 270; width: 100%; border-radius: 20px;" src="assets\images\ooooooffffer.jpg" alt="">

      </ul> 



 </div>


 
</div>


<br> <br>

<div id="downBut">

    
    <div id="calculatter">
    <i  id="calcu" class="fa fa-calculator fa-5x" aria-hidden="true" ></i>
    <h5 id="calculattt" > EMI Calculator</h5>
        
</div>
       
<div  id="calculatter">
    <i id="calcu" class="fa fa-hand-o-up fa-5x" ></i>
    <h5 id="calculattt">Apply Now</h5>
</div>

<div  id="calculatter">
    <i id="calcu" class="fa fa-list-alt fa-5x" aria-hidden="true"></i>
    <h5 id="calculattt">Eligibility</h5>
</div>


        
</div>