

<div style="justify-content: center; display: flex;"> 
<img src="assets\images\logo.png" alt="" id="logo">
</div>

<div style="justify-content: center; display: flex; margin:0px; padding: 0px;">
<h1 style="color: #AA141d;  " >Approved Loan</h1> 
</div>

<table style="transform: scale(.8); margin: 0px;padding: 0px;">
  


<tr>
<th>Customer Name</th>
<th>Customer Email</th>
<th>Customer Age</th>
<th>Customer Mob</th>
<th>Customer Addr</th>
<th>Customer Pan</th>
<th>Action</th>
</tr>
<tr *ngFor="let a of approved">
<td>{{a.first_name  + " "+ a.last_name}}</td>
<td>{{a.email}}</td>
<td>{{a.age}}</td>
<td>{{a.mobile}}</td>
<td>{{a.address}}</td>
<td>{{a.pan}}</td>
<td>
  <button type="button" class="btn btn-outline-danger" routerLink="/application/re/loanapp/{{a.email}}" (click)="saaa()">Apply Now</button>
</td>
</tr>

</table>


<router-outlet></router-outlet>