<!-- <img src="assets\images\logo.png" alt="" id="logo"> -->
<table >
    <h2 style="color: #AA141d; margin-left:250%;">EmployeeDetails</h2> 
    <tr>
    <th>Employee Id</th>  
    <th>Employee Name</th>
    <th>Employee Mob</th>
    <th>Employee Dob</th>
    <th>Employee Email</th>
    <th>Employee Gender</th>
    <th>Action</th>
    </tr>
    <!-- <tr *ngFor="let e of emp">
    <td>{{e.employeeId}}</td>  
    <td>{{e.employeeName}}</td>
    <td>{{e.employeeMob}}</td>
    <td>{{e.employeeDob}}</td>
    <td>{{e.employeeEmail}}</td>
    <td>{{e.employeeGender}}</td>
    <td> 
        <button (click)="edit(e)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button (click)="delete(e)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
    </tr> -->
    <tr>
        <td>1</td>  
    <td>raj</td>
    <td>1234567890</td>
    <td>12345678</td>
    <td>asdfgh1234</td>
    <td>asdfgh</td>
    <td> 
        <button ><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button ><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
    </tr>
    
    </table>