
<!-- <div  class="row w-100 "   >
    <marquee behavior="" direction="" style="color:red; background-color: white;">Apply For Car Loan</marquee>
  </div>


  
   
   -->





<!-- <div  class="row w-100" style="padding-top: 65px;">
    <marquee behavior="" direction="" style="color:red; background-color: black;">Apply for Housing Loan Online</marquee>
    <picture>
    <source media="(max-width:650px)" src="https://www.aavas.in/img/aboutus.jpg?v=76">
    <img src="https://www.aavas.in/img/aboutus.jpg?v=76" alt="Home Loan">
    </picture></div>
    <div class="banner-caption banner-caption-product d-flex align-items-center justify-content-center h-100">
    
    </div>  -->
<!-- <div>
    
    <h2 class="logo" style="margin-left: 20px;"><span> About Us</span></h2>
    <br><h5 style="margin-left: 20px;">
    SWIFTLEND FINANCE PRIVATE LIMITED PUNE.
</h5>
</div>



<hr>


<div>
  <h2 class="logo" style="margin-left: 20px;padding-top: 20px;" ><span> Core Values</span></h2><br>
  <h5 style="margin-left: 20px; "> At SwiftLend Finance, we're passionate about pushing the boundaries to create innovative and beneficial financial solutions that truly transform the lives of our customers. Our core values prioritise both present growth and future impact. We strive for excellence in customer service, maintain the highest standards of integrity and transparency, and uphold ethical practices to provide exceptional service and exceed our customers' expectations.</h5>
</div>



<div class="row w-100 " style="padding-top: 20px;" > 
<table>
<tr style="margin-left: 20px; ">
  <th style="width:400px;text-align: center;"><img  src="https://www.aavas.in/img/home-loan-icon.png" alt=""></th>
  <th style="width:400px;text-align: center;"><img src="https://www.aavas.in/img/construction-Loan.png" alt=""></th>
  <th style="width:400px;text-align: center;"><img src="https://www.aavas.in/img/home-improvement-loan-icon.png" alt=""></th>
</tr>
<tr >
<th > <h3 style="margin-left: 20px; color:darkblue ;">Customer First</h3><br><p style="margin-left: 20px; ">  We exist and prosper only because of our customers. We always respond to the changing needs and expectations of our customers speedily, courteously and effectively. </p> </th>
<th>  <h3 style="margin-left: 20px; color:darkblue ;">Quality Focus</h3><br><p style="margin-left: 20px; "> 
    We make quality a driving value in our work, in our products and in our interactions with customers, employees and stakeholders. We believe in the theory of ‘Right the First Time ’.</p> </th>
 <th>  <h3 style="margin-left: 20px; color:darkblue ;">Professionalism</h3><br><p style="margin-left: 20px; "> We have always sought the best people for the job and given them the freedom and opportunity to grow. We support innovation, well-reasoned risk-taking and demand performance.</p> </th>
 <th > <h3 style="margin-left: 20px; color:darkblue ;">Good Corporate Citizenship</h3><br><p style="margin-left: 20px; "> As in the past, we will continue to seek long-term success, which is in alignment with our country’s needs. We will do this without compromising ethical business standards. </p> </th>
 <th > <h3 style="margin-left: 20px; color:darkblue ;">Dignity of the Individual</h3><br><p style="margin-left: 20px; "> We value individual dignity, uphold the right to express disagreement and respect the time and efforts of others. Through our actions, we encourage fairness, trust and transparency.</p> </th>
</tr></table>  
</div>  -->
<div id="main">
    <div id="aboutus">
      <h2 id="name">ABOUT SWIFTLEND </h2>
  
      <p id="para"> Welcome to Swiftlend Finance, your trusted partner in turning your car dreams into reality. We are a
        dynamic and newly launched car loan finance brand, dedicated to simplifying the journey towards owning your dream
        vehicle.
  
        At Swiftlend Finance, we understand that purchasing a car is a significant milestone in your life, whether it's
        your first car, an upgrade, or a business vehicle. Our mission is to make this process hassle-free and financially
        accessible for everyone.</p>
  
    </div>
  
    <div id="OurCommitment">
      <h2 id="nameO">Our Commitment </h2>
  
  
      <p id="paraa">
        Empowering Dreams: We believe that everyone deserves the chance to drive the car of their dreams. Swiftlend
        Finance is committed to providing tailored car loan solutions that align with your aspirations and financial
        goals.
        <br> <br>
        Transparency & Trust: We operate on a foundation of transparency and trust. We take pride in our honest and
        straightforward approach to car financing, ensuring you understand every step of the process.
        <br> <br>
        Personalized Solutions: No two individuals are the same, and neither are their car financing needs. Our team of
        experts is here to craft personalized loan packages that suit your unique circumstances.
      </p>
  
    </div>
  
    <br><br>
  
    <div id="boxcontaint">
  
  
      <div id="three">
        <div id="box">
  
          <div style="justify-content: center; display: flex;">
            <img id="img" src="assets\images\king.png" alt="">
          </div>
  
          <div style="justify-content: center; display: flex;">
  
            <h3>Customer First</h3>
          </div>
          <div style="justify-content: center; display: flex; margin: 15px;">
            <p id="Boxpara">We exist and prosper only because of our customers. We always respond to the changing needs
              and expectations of our customers speedily, courteously and effectively.
  
            </p>
  
          </div>
        </div>
  
        <div id="box">
          <div style="justify-content: center; display: flex;">
            <img id="img" src="assets\images\quality.png" alt="">
          </div>
  
          <div style="justify-content: center; display: flex;">
  
            <h3>Quality Focus</h3>
          </div>
          <div style="justify-content: center; display: flex; margin: 15px;">
            <p id="Boxpara">We make quality a driving value in our work, in our products and in our interactions with
              customers, employees and stakeholders. We believe in the theory of ‘Right the First Time ’.
  
            </p>
  
          </div>
  
  
  
  
        </div>
  
        <div id="box">
          <div style="justify-content: center; display: flex;">
            <img id="img" src="assets\images\professionalism.png" alt="">
          </div>
  
          <div style="justify-content: center; display: flex;">
  
            <h3>Professionalism</h3>
          </div>
          <div style="justify-content: center; display: flex; margin: 15px;">
            <p id="Boxpara">We have always sought the best people for the job and given them the freedom and opportunity to grow. We support innovation, well-reasoned risk-taking and demand performance.
            </p>
  
          </div>
        </div>
      </div>
  
      <div id="two">
        <div id="box">
          <div style="justify-content: center; display: flex;">
            <img id="img" src="assets\images\goodCitizen.png" alt="">
          </div>
  
          <div style="justify-content: center; display: flex;">
  
            <h3>Good Corporate Citizenship</h3>
          </div>
          <div style="justify-content: center; display: flex; margin: 15px;">
            <p id="Boxpara">As in the past, we will continue to seek long-term success, which is in alignment with our country’s needs. We will do this without compromising ethical business standards.
            </p>
  
          </div>
        </div>
        <br>
        <div id="box">
          <div style="justify-content: center; display: flex;">
            <img id="img" src="assets\images\diginity.png" alt="">
          </div>
  
          <div style="justify-content: center; display: flex;">
  
            <h3>Dignity of the Individual</h3>
          </div>
          <div style="justify-content: center; display: flex; margin: 15px;">
            <p id="Boxpara">We value individual dignity, uphold the right to express disagreement and respect the time and efforts of others. Through our actions, we encourage fairness, trust and transparency.
            </p>
  
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  </div>