<div id="first">
    <div id="heading">
        <h3>Understanding Car Loan Eligibility: A Comprehensive Guide</h3>
    </div>

    <div style="justify-content: center; display: flex;">
        <p id="para">Are you dreaming of driving your own car, but not sure if you're eligible for a car loan?
            Understanding car loan
            eligibility is crucial before you start shopping for your dream vehicle. Lenders have specific criteria to
            determine whether you qualify for a car loan, and knowing these factors can save you time and effort. Let’s
            explore the key aspects of car loan eligibility.</p>
    </div>

</div>


<div id="secThird">
<div id="sec">

    <div id="heading2">
    <h3> Salaried Applicant </h3>
    </div>

    <div id="textBox">
    <p id="para2">
    <b> Minimum Age : </b> 21 year at the of loan application <br>
    <b> Maximum Age : </b> 60 years when the loan tenure ends <br>
    <b>Job Stability : </b>  Should have worked continuosly for 2 years and at least 1 year with <br> the current employee      <br>
    <b> Minimum Annual Income : </b> Rs.3 Lakh
</p>
</div>
</div>





<div id="third">

    <div id="heading2">
        <h3> Self-Employee Individual
            Applicant:
             </h3>
        </div>
    
        <div id="textBox">
        <p id="para2">
        <b> Minimum Age : </b> 21 year at the of loan application <br>
        <b> Maximum Age : </b> 60 years when the loan tenure ends <br>
        <b>Business Stability : </b>  Should have been in the same line of business for at list 2 years<br>
        <b> Minimum Annual Income : </b> Rs.3 Lakh
    </p>
    </div>

</div>

</div>
