<!-- header HTML -->
<nav id="header" >

    
    
<img  src="assets\images\logo.png" alt=""id="logo" routerLink="" >

  
    
 <button id="BUT" routerLink="aboutus">ABOUT US</button>
 <button id="BUT" routerLink="enquiry" >ENQUIRY</button>
 <button id="BUT" routerLink="creditscore">GET CREDIT SCORE</button>
 <button id="BUT" routerLink="">ELIGIBLITY</button>
 <button id="login" routerLink="login">LOGIN</button>
  


 


</nav>


<div style="background-color: #AA141D; height: 30px; width: auto;  "></div>
<router-outlet></router-outlet>