.frame{
    display: flex;
    justify-content: left;

}

.menu{
    margin-top: 0px;
    padding-top: 0px;
    float: left;

}

#content{

  
    height: auto;
    width: 1200px;
    justify-content: center;
    display: flex;

   
    

}