<footer>
    <div class="icon">
        <i class="fa fa-facebook-official"  id="icon" aria-hidden="true"></i>
        
        <i class="fa fa-twitter" id="icon" aria-hidden="true"></i>
        <i class="fa fa-google"  id="icon" aria-hidden="true"></i>
        <i class="fa fa-instagram"  id="icon" aria-hidden="true"></i>
    </div>
    
    <div class="back" >
        <br><h3 style="color: #f5f0f6;">@2023 SwiftLend Finance</h3><br>
     </div>
    <div id="last"> 
      <h5  style="color: white; font-family: 'Times New Roman', Times, serif; font-size: small;">All Right Reserved To SwiftLend Finance </h5>
    </div>
</footer>