table{
    
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    
   
   }
   td , th{
       padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: #AA141d;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 70%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }
   #logo{
       height: 50px;
       width: auto;
       
       
   }
   #action{
       margin-left:0px;
   }
   td,th{
    text-align: left;
   }
   input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
   
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    
  }

  input[type=checkbox]:checked + label:before {
    background-color:#AA141d;
    border-color: #AA141d;
    color: #fff;
  }
  .but{
    color: #AA141d;
    padding: 4px 15px;
    border-radius: 6px;
    transition: all 0.2s ease;
}


#imgg{


  width: 100%;
  height: 100%;
  object-fit: cover;
  align-content: center;
  object-position: center;
  transition: transform ease-in-out 0.5s;
}

