<div>
    <img src="assets\images\logo.png" alt="" id="logo">
</div>

<div id="downBut">

   
    <div id="calculatter">
        <i id="calcu" class="fa fa-table fa-3x" aria-hidden="true" routerLink="viewemp"></i>
       
        <h5 id="calculattt">View Employee</h5>
    </div>

    <div id="calculatter">
        <i id="calcu" class="fa fa-table fa-3x" aria-hidden="true"  routerLink="viewenq"></i>
        <h5 id="calculattt"> View Enquiry</h5>

    </div>

    <div id="calculatter">
        <i id="calcu" class="fa fa-table fa-3x" aria-hidden="true"  routerLink="rejectcust"></i>
        <h5 id="calculattt"> Reject Customer</h5>

    </div>




</div>
<div class="container">
    <router-outlet></router-outlet>
</div>