
      
      
  <!-- The Modal -->
  <div class="modal" id="myModal" >
   
      
  
    <!-- Modal Header -->
    <!-- <div class="modal-header">
      <h4 class="title" style="color: blueviolet;">Check EMI Here</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" style="margin-right: 20px;" (click)="Closedmodel()"></button>
    </div> -->

    <!-- Modal body -->

        <div class="loan-calculator" >
            <div class="top">

                <div id="Butx">
                 <button id="Xbut" type="button" class="calculate-btn" data-bs-dismiss="modal" style="margin-left: 250px;" (click)="Closedmodel()">X</button>
                </div>
                <h2 align="center" style="color: white;font-size: 30px;font-weight: 900;">EMI Calculator</h2>
                <form [formGroup]="emiForm" >
                    <div class="group">
                        <div class="title" style="color: white;">Amount :</div>
                        <input id="inputBox" type="text" placeholder="Enter Amount" class="loan-amount" formControlName="principal"/>
                    </div>
    
                    <div class="group">
                        <div class="title" style="color: white;">Interest Rate :</div>
                        <input id="inputBox" type="text" placeholder="Enter Interest" class="interest-rate" formControlName="interest" />
                    </div>
    
                    <div class="group">
                        <div class="title" style="color: white;">Tenure (In Year) :</div>
                        <input id="inputBox" type="text" placeholder="Enter Tenure" class="loan-tenure"  formControlName="tenure"/>
                    </div>
                </form>
            </div>
    
            <div class="result">
                <div class="left">
                    <div class="loan-emi">
                        <h3>Loan EMI</h3>
                        <div class="value">{{emi|number:'1.0-0'}}</div>
                    </div>
    
                    <div class="total-interest">
                        <h3>Total Interest Payable</h3>
                        <div class="value">{{interestt|number:'1.0-0'}}</div>
                    </div>
    
                    <div class="total-amount">
                        <h3>Total Amount(Principal+Interest)</h3>
                        <div class="value">{{full|number:'1.0-0'}}</div>
                    </div>



                    <button class="calculate-btn" (click)="update()" style="margin-left: 350px;">Calculate</button>
                   </div>
                <!-- <div class="right">
                    chart
                </div> -->
            </div>
        </div>
   

     
           </div>
       
    
 
     

<router-outlet></router-outlet>
